<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      اطلاعات صندوق
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content class="ion-padding">
      <ion-button>

        پرداخت
      </ion-button>


      <ion-button>

        ارسال پیام
      </ion-button>

      <ion-button>

        پیام به مدیر
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content class="ion-padding">
      <ion-item href="#" class="ion-activated">
        <ion-label>شما می توانید درخواست وام اضطراری کنید</ion-label>
      </ion-item>
      <ion-button expand="block" fill="outline">ارسال درخواست</ion-button>

    </ion-card-content>
  </ion-card>
  <section>
    <ul class="my-nav">
      <li>
        <ion-label position="floating">نام صندوق : </ion-label> {{fund_name}}
      </li>
      <li>
        <ion-label position="floating">مدت زمان خواب پول : </ion-label> {{duration_money_sleep}}
      </li>
      <li>
        <ion-label position="floating">کارمزد صندوق (تومان) : </ion-label> {{fund_fee}}
      </li>
      <li>
        <ion-label position="floating">مبلغ هر سهم (تومان) : </ion-label> {{amount_portion}}
      </li>

    </ul>
  </section>
  <ion-card>

    <ion-card-content>
      <canvas #pieCanvas style="position: relative; height:20vh; width:40vw"></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>